/*OLD COLOR Schemes:
	-https://coolors.co/ffebeb-d43b34-efb9a9-ab2521-f18f01-2c1010/
	- https://coolors.co/201f3a-ffebeb-fffbfb-e4938c-cd6f65-be3f39-ab2521-6a0f0b
	- https://coolors.co/b22020-6a0f0b-ee352a-f2e0c2-f1e3ca-10101f-22242e-ffebeb-fffbfb
	-https://coolors.co/201f3a-feecde-e4938c-b54038-bf130d-870804
Current color Scheme
https://coolors.co/669bbc-003049-feecde-b54038-e4938c-870804-bf130d
inspo:
	https://webfieldmanual.com/
	https://www.brandaiddesignco.com/process/nashville-web-design-services.html
	https://coneflowercreamery.com/
*/
body{
	background-color: #FEECDE;
	padding: 0px;
	margin: 0px;
	font-family: Arial,Trebuchet MS, sans-serif;
}
p{
color: black;
margin:8px;
}
.hero-image{
	width: 100%;

}
/*--------------------HEADER /MENU STUFF--------------------*/
	.header {
		overflow: hidden;
		background-color:#BF130D;
/*		background-color: #CD6F65;*/
		padding: 10px 2px;
		justify-content: center;
	}
	.header p{
		float: left;
		color: #FEECDE;
		text-align: center;
		padding: 2px 10px 2px 10px;
		text-decoration: none;
		font-size: 18px; 
		line-height: 25px;
		border-radius: 4px;
	}
	#logo {
		font-size: 25px;
		font-weight: 600;
		margin:0px;

	}
	#menuIcon{
		display: none;
	}
	  

	  
	  .header a.active {
	    background-color: #D25F17;
	    color: black;
	  }
	  
	  .header-links {
	  	display:flex; 
	  	justify-content: space-between;
	  	float: right;

	  }

	  .header a {
	  	float: left;
	  	display: flex;
	    position: relative;
	    color: #FEECDE;
	    
	    margin: 0px 10px 0px 10px;
	    padding: 2px 10px 2px 10px;

	    text-decoration: none;

	    font-size: 18px; 
	    line-height: 25px;

	}

	/* --hover underline animation-- */
		.header a::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.1em;
			background-color: #FEECDE;
			opacity: 0;
			transition: opacity 300ms, transform 300ms;
				opacity 1;
			transform: translate3d(-60%, 0, 0);
		}

		.header a:hover::after,.header a:focus::after {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		.header a:hover{
			color: white;
		/*	color: #F18F01;*/
		}
	/* --end hover underline animation-- */

	/* --media size adjustments-- */
		@media (max-width: 630px) {
			#logo,.header-links{
				display: none;
			}
			#menuIcon{
				cursor: pointer;
				display: flex;
				margin-left: auto;
				padding: 0px 10px 0px 10px;

			}

	   }
	/* --end media size adjustments-- */

/*--------------------CONTENT BOXES--------------------*/
/*.title1{
	margin-top: .5vw;
	margin-left: .75vw;
	margin-right: .75vw;
	margin-bottom: .5vw;
	position: relative;
	max-width: max-content;
	text-align: center;
		 }*/

.imgBlock{
	display: flex;
	flex-wrap: wrap;
/*	background-color: #E4938C;*/
	padding:  20px;
	margin: 20px;
	border-radius: 20px;


}
.right-imgBlock{
	flex: 50%;
	text-align: center;
	margin: 10px,20px,10px,20px;
	img{
		height: auto;
		max-width: 90%;
		border-radius: 10px;
		margin: auto;

	}
}
.left-imgBlock{
	flex: 50%;
/*	img{
		max-height: 400px ;
		border-radius: 10px;
	}*/
}
@media (max-width: 800px) { 
	.right-imgBlock, .left-imgBlock {
		flex: 100%;
		height: auto;
		max-width: 90%;
		margin: auto;}
}
.text_block_center{ /* text block with a centered images */
	padding:  8px 22px;
	margin: 10px;
	border-radius: 20px;
	display: flex; 
	flex-direction: column; 
    align-items: center;

}
.inTextPic{ /*pictures for the text_block_center class*/
	object-fit: cover;
	text-align: center;
	display: flex;
	border-radius: 5px;
}

/*two images that are next to each other in web view but stack on top of eachother in mobile view*/
.twoImages{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;


}
.twoImages img{
	flex:50%;
	margin: 5px;
	border-radius: 5px;

}
/*.image_twoImages{
	flex: 50%;
}*/




